:root {
    --arbiter-px-grid-4x2: var(--size-4-2);
    --arbiter-px-grid-4x2: var(--size-4-2);
    --arbiter-px-grid-4x2: var(--size-4-2);
    --arbiter-px-grid-4x3: var(--size-4-3);
    --arbiter-px-grid-4x12: var(--size-4-12);
    --arbiter-bg-2: var(--background-secondary);
    --arbiter-border-width: var(--border-width);
}